.filter {
  padding-top: 40px;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 72px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    gap: 50px;
  }

  @media screen and (min-width: 1280px) {
    justify-content: center;
    gap: 44px;
  }
}

.filter__btn {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 134px;
  border-radius: 16px;
  border: 2px solid #86e543;
  background-color: #01383a;
  font-family: 'Roboto Bold';
  font-size: 16px;
  line-height: 1.18;
  color: #86e543;

  transition-property: background-color, color, border-color, filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1))
      drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
  }

  &:active,
  &:focus {
    color: #01383a;
    background-color: #86e543;
    box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
      0px 4px 20px rgba(134, 229, 67, 0.4);
  }

  @media screen and (min-width: 768px) {
    width: 132px;
    padding: 16px 0;
  }

  @media screen and (min-width: 1280px) {
    width: 168px;
    padding: 16px 0;
  }
}

.accessories {
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    padding-bottom: 120px;
  }
}

.accessories__top-title {
  font-family: 'Roboto Medium';
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 35px;
    line-height: 1.17;
    margin-left: 50px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 56px;
  }
}

.accessories__title {
  font-family: 'Roboto Medium';
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
  padding: 8px 16px 8px 8px;
}

.accessories-box__price {
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  display: flex;
}

.accessories-old__price {
  font-family: 'Roboto Medium';
  font-size: 14px;
  line-height: 1;
  color: #8d9289;
  text-decoration: line-through;
}

.accessories-new__price {
  font-family: 'Roboto Medium';
  font-size: 20px;
  line-height: 1;
  color: #86e543;
}

.accessories-wrap__img {
  border-radius: 12px;

  @media screen and (max-width: 767.9px) {
    width: 100%;
  }
}

.accessories__list {
  display: flex;
  gap: 36px;
  justify-content: center;
  padding-top: 16px;

  @media screen and (max-width: 767.9px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    padding-top: 24px;
  }

  @media screen and (min-width: 1280px) {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.accessories__item {
  @media screen and (min-width: 768px) {
    margin-bottom: 6px;
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 60px) / 4);
    margin-bottom: 24px;
  }
}

.accessories__item.accessories--non-visible {
  @media screen and (max-width: 767.9px) {
    display: none;
  }
}

.accessories-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 1.14;
  color: #ffffff;
  background-color: #01383a;
  padding: 16px 16px 52px 16px;
  overflow: hidden;
  transform: translateY(100%);
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  @media screen and (max-width: 480px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.accessories-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #86e543;
}

.accessories__link {
  &:focus .accessories-wrap,
  &:hover .accessories-wrap {
    box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
      0px 4px 20px rgba(134, 229, 67, 0.4);
  }

  &:focus .accessories-wrap .accessories-box,
  &:hover .accessories-wrap .accessories-box {
    transform: translateY(0);
  }
}

.accessories-control {
  padding-top: 52px;
}

.accessories-control__list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.accessories-control__btn {
  display: block;
  // width: 16px;
  // height: 16px;
  // border-radius: 8px;
  // background-color: #ffffff;
}

.accessories-control__list .control-active {
  width: 40px;
}

.accessories-control__list .accessories--non-visible {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.accessories-control__item {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: access-anime;

  &:hover {
    cursor: pointer;
  }

  &:nth-child(1) {
    animation-delay: 0;
    width: 40px;
  }

  &:nth-child(2) {
    animation-delay: 0.5s;
  }

  &:nth-child(3) {
    animation-delay: 1s;
  }

  &:nth-child(4) {
    animation-delay: 1.5s;
  }
  &:nth-child(5) {
    animation-delay: 2s;
  }
}

@keyframes access-anime {
  0% {
    background-color: #fff;
  }
  20% {
    background-color: #86e543;
  }
  40% {
    background-color: #fff;
  }
  100% {
    background-color: #fff;
  }
}
