.blogs {
  padding-top: 40px;
  padding-bottom: 48px;

  @include tablet {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .top {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;

    @media screen and(min-width:768px) {
      padding-left: 59px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 56px;
      line-height: 66px;
    }
    @media screen and(min-width:1280px) {
      padding-left: 102px;
    }
  }

  .blog__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 48px;
    gap: 24px;

    @include tablet {
      margin-top: 40px;
      margin-bottom: 35px;
      gap: 40px;
    }
    @include desktop {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }

  .blog__one {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 40px;
    // height: 560px;
    // position: relative;

    @media screen and(min-width:480px) {
      // max-width: 480px;
      // width: 100%;
    }
  }

  .img1 {
    padding: 0 auto;
    border-radius: 12px;
    &--first {
      display: none;
    }
    @media screen and (min-width: 1280px) {
      &--first {
        display: block;
        width: 387px;
        // height: auto;
        // padding-top: 48px;
      }
    }
  }

  .img2 {
    padding: 0 auto;

    &--second {
      display: block;
      @media screen and (max-width: calc($tablet - 1px)) {
        margin-left: -17px;
        margin-right: -17px;
        margin-bottom: 8px;
      }
    }

    @media screen and (min-width: 480px) {
      &--second {
        display: block;
        width: 480px;
        // height: 228px;
        height: auto;
      }
    }
    @media screen and (min-width: 768px) {
      &--second {
        display: block;
        width: 387px;
        height: 228px;
        border-radius: 12px;
        padding: 0;
      }
    }
    @media screen and (min-width: 768px) {
      width: 387px;
      height: 228px;
      border-radius: 12px;
    }
    @media screen and (min-width: 1280px) {
      &--second {
        display: none;
      }
    }
  }

  .text__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    width: 100%;
    margin-bottom: 16px;

    @media screen and(min-width:480px) {
      // line-height: 1.17;
      // padding-left: 16px;
      // padding-right: 16px;
      // padding-top: 23px;
      // padding-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
      font-size: 56px;
      line-height: 1;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
      width: 693px;
      font-size: 56px;
      line-height: 1;
      margin-bottom: 52px;
    }
  }

  .text__author--main {
    display: flex;
    flex-direction: column;
    gap: 0px;
    @media screen and(min-width: 480px) {
      // justify-content: space-between;
      // padding-top: 54px;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 40px;
      align-items: flex-end;
    }
    @media screen and (min-width: 1280px) {
      justify-content: space-between;
      width: 693px;
    }
  }

  .text__author {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    padding-top: 8px;
    padding-bottom: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    @include tablet {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
      width: 693px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 24px;
    }
  }

  .author {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1280px) {
      line-height: 1;
      margin-bottom: 0;
    }
  }
  .date {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #8d9289;
    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 1;
    }
    @media screen and (min-width: 1280px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 1;
    }
  }

  .text__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    padding-bottom: 8px;

    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.17;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
      width: 693px;
      font-weight: 400;
    }
  }

  .link {
    display: flex;
    justify-content: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #86e543;
    background: none;
    width: 100%;

    &__item {
      color: inherit;
      transition: filter 250ms linear;
      &:hover,
      &focus {
        filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1))
          drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
      }
    }
    @media screen and (min-width: 480px) {
      // padding-top: 6px;
      // padding-right: 10px;
    }
    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 1;
      // padding-top: 16px;
    }
    @media screen and (min-width: 1280px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 1;
      color: #86e543;
      text-align: right;
      // padding-top: 54px;
    }
  }

  .pagination__list {
    display: flex;
    gap: 16px;
    justify-content: center;
    // list-style: none;
  }

  .pagination__item {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 8px;
    background-color: #fff;

    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: pag-anime;
  }

  .pagination__item:hover {
    cursor: pointer;
  }

  .pagination__item:nth-child(1) {
    width: 40px;
    animation-delay: 0;
  }

  .pagination__item:nth-child(2) {
    animation-delay: 0.5s;
  }

  .pagination__item:nth-child(3) {
    animation-delay: 1s;
  }

  @keyframes pag-anime {
    0% {
      background-color: #fff;
    }
    20% {
      background-color: #86e543;
    }
    40% {
      background-color: #fff;
    }
    100% {
      background-color: #fff;
    }
  }
}
