.swiper-slide {
  display: none;
  position: relative;
  width: 100%;
}

.swiper-slide--active {
  display: block;
}

.swiper-slide img {
  width: 100%;
}
.slider-title {
  position: absolute;
  top: 0;
  max-width: 596px;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.35;
  @media screen and (max-width: 767px) {
    & span {
      display: block;
    }
  }
}
.slide-1 {
  line-height: 1.18;
  background: linear-gradient(
    270deg,
    #1edde0 13.26%,
    #8bda41 51.01%,
    #ef001b 107.89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @media screen and (max-width: 768px) {
    margin: 125.85vw 12.46vw 11.83vw 7.47vw;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.35;
  }
  @media screen and (min-width: 768px) {
    margin: 45.83vw 27.08vw 1.82vw 5.33vw;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
  }
  @media screen and (min-width: 1280px) {
    margin: 25.4% 26.48% 3.82% 26.95%;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.35;
  }
}
.slide-2 {
  background: linear-gradient(
    270deg,
    #03fe8f 4.61%,
    #ebdcff 57.91%,
    #ff98f3 92.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  span {
    text-transform: uppercase;
  }
  @media screen and (max-width: 768px) {
    margin: 125.85vw 21.18vw 11.83vw 7.47vw;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.35;
  }
  @media screen and (min-width: 768px) {
    margin: 45.83vw 26.17vw 1.82vw 5.33vw;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
  }
  @media screen and (min-width: 1280px) {
    margin: 25.4vw 54.76vw 3.82vw 3.82vw;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.35;
  }
}
.slide-3 {
  background: linear-gradient(
    270deg,
    #ffffff 13.26%,
    #693cf9 60.87%,
    #f475eb 107.89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  @media screen and (max-width: 768px) {
    margin: 125.85vw 19.62vw 11.83vw 7.47vw;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.35;
  }
  @media screen and (min-width: 768px) {
    margin: 45.83vw 22.9vw 1.82vw 5.33vw;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
  }
  @media screen and (min-width: 1280px) {
    margin: 25.46vw 52.65vw 3.82vw 3.82vw;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.35;
  }
}
.dots-list {
  margin-top: 23px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.dots-item {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: slider-anime;

  &:hover {
    cursor: pointer;
  }

  &:nth-child(1) {
    animation-delay: 0;
  }
  &:nth-child(2) {
    animation-delay: 0.5s;
  }
  &:nth-child(3) {
    animation-delay: 1.5s;
  }
}

@keyframes slider-anime {
  0% {
    background-color: #fff;
  }
  20% {
    background-color: #86e543;
  }
  40% {
    background-color: #fff;
  }
  100% {
    background-color: #fff;
  }
}
.dots-item--active {
  width: 40px;
}

@keyframes slider-anime {
  0% {
    background-color: #fff;
  }
  20% {
    background-color: #86e543;
  }
  40% {
    background-color: #fff;
  }
  100% {
    background-color: #fff;
  }
}
