.swiper-slide {
  display: none;
  position: relative;
}
#tabs-1,
#tabs-2,
#tabs-3 {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.swiper-slide--active {
  display: block;
}

.swiper-slide {
  // margin: 0 auto;
}
.slider-title {
  position: absolute;
  top: 0;
  max-width: 596px;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.35;
  @media screen and (max-width: 767px) {
    & span {
      display: block;
    }
  }
}
.slide-1 {
  line-height: 1.18;
  background: linear-gradient(
    270deg,
    #1edde0 13.26%,
    #8bda41 51.01%,
    #ef001b 107.89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  @media screen and (max-width: 768px) {
    margin: 404px 40px 38px 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  @media screen and (min-width: 768px) {
    margin: 352px 208px 14px 41px;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
  }
  @media screen and (min-width: 1280px) {
    margin: 326px 329px 49px 345px;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.35;
  }
}
.slide-2 {
  background: linear-gradient(
    270deg,
    #03fe8f 4.61%,
    #ebdcff 57.91%,
    #ff98f3 92.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  span {
    text-transform: uppercase;
  }
  @media screen and (max-width: 768px) {
    margin: 404px 68px 38px 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  @media screen and (min-width: 768px) {
    margin: 352px 201px 14px 41px;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
  }
  @media screen and (min-width: 1280px) {
    margin: 326px 701px 49px 49px;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.35;
  }
}
.slide-3 {
  background: linear-gradient(
    270deg,
    #ffffff 13.26%,
    #693cf9 60.87%,
    #f475eb 107.89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  @media screen and (max-width: 768px) {
    margin: 404px 63px 38px 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  @media screen and (min-width: 768px) {
    margin: 352px 176px 14px 41px;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
  }
  @media screen and (min-width: 1280px) {
    margin: 326px 674px 49px 49px;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.35;
  }
}
.dots-list {
  margin-top: 23px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.dots-item {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: slider-anime;

  &:hover {
    cursor: pointer;
  }

  &:nth-child(1) {
    animation-delay: 0;
  }
  &:nth-child(2) {
    animation-delay: 0.5s;
  }
  &:nth-child(3) {
    animation-delay: 1.5s;
  }
}

@keyframes slider-anime {
  0% {
    background-color: #fff;
  }
  20% {
    background-color: #86e543;
  }
  40% {
    background-color: #fff;
  }
  100% {
    background-color: #fff;
  }
}
.dots-item--active {
  width: 40px;
}

@keyframes slider-anime {
  0% {
    background-color: #fff;
  }
  20% {
    background-color: #86e543;
  }
  40% {
    background-color: #fff;
  }
  100% {
    background-color: #fff;
  }
}
