<header class="header">
    <ul>
        <li>
            <a href="./index.html">Main</a>
        </li>
        <li>
            <a href="./accessories.html">Accessories</a>
        </li>
        <li>
            <a href="./take_order.html">Take  order</a>
        </li>
        <li>
            <a href="./contact.html">Contact</a>
        </li>
        <li>
            <a href="./blog.html">Blog</a>
        </li>     
        <li>
            <a href="./blog_article.html">Blog-article</a>
        </li>
    </ul>
</header>
