<section class="hero">
  <div class="container">
    Зроблено тестове підключення шрифтів, щоб ви бачили ) Той хто буде робити цю
    секцыю - собі їх видалить. Налаштування шрифта по замовчуванню знайдете в
    _global_elements.scss
    <p class="test1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rerum
      dolores quae aliquam alias soluta temporibus non, excepturi laborum
      cumque?
    </p>
    <p class="test2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rerum
      dolores quae aliquam alias soluta temporibus non, excepturi laborum
      cumque?
    </p>
    <p class="test3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rerum
      dolores quae aliquam alias soluta temporibus non, excepturi laborum
      cumque?
    </p>
    <p class="test4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rerum
      dolores quae aliquam alias soluta temporibus non, excepturi laborum
      cumque?
    </p>
  </div>
</section>
